[submodule "RentEase_Backend"]
	path = RentEase_Backend
	url = https://github.com/amritmaurya1504/RentEase_Backend.git
[submodule "RentEase_Client"]
	path = RentEase_Client
	url = https://github.com/sampriti27/RentEase_Client.git
